.btn-back{
	margin: 20px 0 0 20px;
}

.enfasis{
	font-size: 26px;
	font-family: "Lobster";
	color: #607d8b;
	text-shadow: 1px 1px #263238;
	letter-spacing: 2px;
}

.normal-text{
	font-family: 'Consolas';
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.5em;
}


.centrar-contenido{
	padding: 15px 20px;
}

#banner-prueba{
	background-color: #f2be5c;
	width: 500px;
	height: 350px;
	position: absolute;
	left: 15%;
	top: 25%;
	font-size: 36px;
}